In [138]:
import pandas as pd
sales= pd.read_csv('sales.csv')
old_prices= pd.read_csv('prices.csv')

#creating a new dataframe with price before for product:
new_data= pd.DataFrame({'product_id':[64,3954203,3998909,4085861],
                       'old_price':['null','null','null','null'],
          'new_price':[270000,68800,19000,60000],
          'updated_at':['1/1/18','1/1/18','1/1/18','1/1/18']})

#concat 2 tables and fill the columns:
new_prices= pd.concat([old_prices,new_data], ignore_index=True)
prices=new_prices[['product_id','new_price','updated_at']].rename(columns={'new_price':'price'})

# convert columns to timestamp
sales.ordered_at=pd.to_datetime(sales.ordered_at)
prices.updated_at= pd.to_datetime(prices.updated_at)

#sort tables
sales_sorted=sales.sort_values('ordered_at')
prices_sorted=prices.sort_values('updated_at')

# merge_asof tables
sales_prices= pd.merge_asof(sales_sorted, prices_sorted, by='product_id',left_on= 'ordered_at',right_on='updated_at')


#creating a column 'revenue'
sales_prices['revenue'] = sales_prices['quantity_ordered'] * sales_prices['price']

revenue_by_product_and_price = sales_prices.groupby(['product_id', 'price'], as_index=False)['revenue'].sum()
print(sales_prices)
print(revenue_by_product_and_price)

     product_id          ordered_at  quantity_ordered  price  \
0       3954203 2018-09-11 01:43:00                 1  60000
1       4085861 2018-09-11 06:26:00                 1  60000
2       4085861 2018-09-11 06:53:00                 1  60000
3       4085861 2018-09-11 08:24:00                 1  60000
4       4085861 2018-09-11 09:30:00                 1  53500
..          ...                 ...               ...    ...
170     4085861 2018-09-18 20:23:00                 1  52000
171     4085861 2018-09-18 20:43:00                 1  52000
172     4085861 2018-09-18 20:54:00                 1  52000
173     3954203 2018-09-18 21:26:00                 1  57500
174     3998909 2018-09-18 22:11:00                 1  16500

             updated_at  revenue
0   2018-09-10 16:32:00    60000
1   2018-01-01 00:00:00    60000
2   2018-01-01 00:00:00    60000
3   2018-01-01 00:00:00    60000
4   2018-09-11 08:51:00    53500
..                  ...      ...
170 2018-09-17 22:59:00    52000
171 2018-09-17 22:59:00    52000
172 2018-09-17 22:59:00    52000
173 2018-09-17 22:59:00    57500
174 2018-09-16 05:09:00    16500

[175 rows x 6 columns]
    product_id   price  revenue
0           64  239000   956000
1      3954203   57500    57500
2      3954203   60000   180000
3      3954203   64000   640000
4      3998909   15500    15500
5      3998909   16500   231000
6      3998909   17000    34000
7      4085861   52000  1040000
8      4085861   53500  2140000
9      4085861   58000  2204000
10     4085861   60000   180000
11     4085861   62500  1812500
12     4085861   67000   871000